---
import { Icon } from "@astrojs/starlight/components";
---

<div
  class="flex gap-2 items-center blue-style w-full flex-grow justify-center py-3"
>
  <Icon name={"telegram"} />

  <span>Con la Tecnología de Telegram</span>
</div>
