@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-primary: #07d9c4;
  --color-secondary: #e0e938;
  --color-ternary: #ea267a;
  --color-text: #ffffff;
  --color-background: #0c1014;
  --color-red: #ea2629;
  --text-small: 12px;
  --text-medium: 16px;
  --text-big: 24px;
  --text-title: 32px;
}
