---

---

<!-- SECTION - 3 -->
<div class="mt-10 md:mt-[100px] lg:mt-[132px]">
  <div class="xl:flex">
    <div
      class="linear-bg-aux-3 border border-white/15 py-[84px] xl:flex xl:items-center xl:justify-center xl:flex-1"
    >
      <div
        class="text-center font-bold text-[40px] leading-10 lg:text-[60px] lg:leading-[60px] xl:text-[54px] xl:leading-[54px] 2xl:text-[60px] 2xl:leading-[60px]"
      >
        <span class="block text-primary"
          >¿<h3 class="inline-block text-white uppercase">
            Que es Vallax
          </h3>?</span
        >
      </div>
    </div>

    <div class="flex xl:contents">
      <div
        class="flex-1 border border-white/15 border-t-0 max-h-[300px] aspect-square xl:border-t xl:max-w-[300px]"
      >
        <img
          src="/images/ojo-verde.png"
          alt="ojo-verde-image"
          class="object-cover h-full w-full"
        />
      </div>
      <!--  -->
      <div
        class="hidden flex-1 lg:flex items-center justify-center text-center border border-primary/50 max-h-[300px] aspect-square xl:max-w-[300px]"
      >
        <h3 class="block text-2xl leading-8 font-light">
          "Encuentra <br /> los mejores <br /> chollos"
        </h3>
      </div>
      <!--  -->
      <div
        class="flex-1 bg-primary flex lg:hidden flex-col gap-4 sm:gap-5 justify-center items-center max-h-[300px] aspect-square"
      >
        <span>
          <svg
            class="w-[50px] h-[50px] sm:w-[70px] sm:h-[70px]"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_231_300)">
              <path
                d="M25.7812 19.5312V17.9688C25.7812 17.7615 25.6989 17.5628 25.5524 17.4163C25.4059 17.2698 25.2072 17.1875 25 17.1875C24.7928 17.1875 24.5941 17.2698 24.4476 17.4163C24.3011 17.5628 24.2188 17.7615 24.2188 17.9688V19.5312C24.2188 19.7385 24.3011 19.9372 24.4476 20.0837C24.5941 20.2302 24.7928 20.3125 25 20.3125C25.2072 20.3125 25.4059 20.2302 25.5524 20.0837C25.6989 19.9372 25.7812 19.7385 25.7812 19.5312Z"
                fill="#0C1014"></path>
              <path
                d="M24.2188 30.4688V32.0312C24.2188 32.2385 24.3011 32.4372 24.4476 32.5837C24.5941 32.7302 24.7928 32.8125 25 32.8125C25.2072 32.8125 25.4059 32.7302 25.5524 32.5837C25.6989 32.4372 25.7812 32.2385 25.7812 32.0312V30.4688C25.7812 30.2615 25.6989 30.0628 25.5524 29.9163C25.4059 29.7698 25.2072 29.6875 25 29.6875C24.7928 29.6875 24.5941 29.7698 24.4476 29.9163C24.3011 30.0628 24.2188 30.2615 24.2188 30.4688Z"
                fill="#0C1014"></path>
              <path
                d="M30.4688 24.2188C30.2615 24.2188 30.0628 24.3011 29.9163 24.4476C29.7698 24.5941 29.6875 24.7928 29.6875 25C29.6875 25.2072 29.7698 25.4059 29.9163 25.5524C30.0628 25.6989 30.2615 25.7812 30.4688 25.7812H32.0312C32.2385 25.7812 32.4372 25.6989 32.5837 25.5524C32.7302 25.4059 32.8125 25.2072 32.8125 25C32.8125 24.7928 32.7302 24.5941 32.5837 24.4476C32.4372 24.3011 32.2385 24.2188 32.0312 24.2188H30.4688Z"
                fill="#0C1014"></path>
              <path
                d="M17.9688 24.2188C17.7615 24.2188 17.5628 24.3011 17.4163 24.4476C17.2698 24.5941 17.1875 24.7928 17.1875 25C17.1875 25.2072 17.2698 25.4059 17.4163 25.5524C17.5628 25.6989 17.7615 25.7812 17.9688 25.7812H19.5312C19.7385 25.7812 19.9372 25.6989 20.0837 25.5524C20.2302 25.4059 20.3125 25.2072 20.3125 25C20.3125 24.7928 20.2302 24.5941 20.0837 24.4476C19.9372 24.3011 19.7385 24.2188 19.5312 24.2188H17.9688Z"
                fill="#0C1014"></path>
              <path
                d="M37.2916 12.4323C37.2191 12.3597 37.1329 12.3022 37.0382 12.2629C36.9434 12.2236 36.8418 12.2034 36.7392 12.2034C36.6366 12.2034 36.535 12.2236 36.4403 12.2629C36.3455 12.3022 36.2594 12.3597 36.1868 12.4323L34.4986 14.1206C32.0226 11.9507 28.8784 10.6938 25.5889 10.559C22.2995 10.4241 19.063 11.4195 16.4177 13.3795L17.5374 14.4992C20.0993 12.6722 23.2421 11.8478 26.3709 12.1822C29.4997 12.5165 32.3974 13.9864 34.5153 16.3135L35.6197 15.2091L37.2916 13.537C37.3641 13.4645 37.4217 13.3784 37.461 13.2836C37.5003 13.1889 37.5205 13.0873 37.5205 12.9847C37.5205 12.8821 37.5003 12.7805 37.461 12.6857C37.4217 12.5909 37.3641 12.5048 37.2916 12.4323Z"
                fill="#0C1014"></path>
              <path
                d="M16.3135 15.4846L15.2091 14.3802L13.537 12.7084C13.3905 12.5619 13.1919 12.4797 12.9847 12.4797C12.7776 12.4798 12.5789 12.5621 12.4325 12.7085C12.286 12.855 12.2037 13.0536 12.2037 13.2608C12.2036 13.4679 12.2859 13.6666 12.4323 13.8131L14.1206 15.5014C11.8169 18.1294 10.5469 21.5051 10.5469 24.9999C10.5469 28.4946 11.8169 31.8703 14.1206 34.4984L12.4323 36.1867C12.3597 36.2592 12.3021 36.3453 12.2629 36.4401C12.2236 36.5349 12.2033 36.6365 12.2033 36.7391C12.2033 36.8417 12.2235 36.9433 12.2628 37.0381C12.302 37.1329 12.3596 37.219 12.4321 37.2916C12.5047 37.3641 12.5908 37.4217 12.6856 37.4609C12.7804 37.5002 12.882 37.5204 12.9846 37.5204C13.0872 37.5204 13.1888 37.5001 13.2836 37.4608C13.3784 37.4215 13.4645 37.364 13.537 37.2914L15.209 35.6194L16.3135 34.5152C14.9891 33.309 13.9311 31.8397 13.2072 30.2012C12.4833 28.5627 12.1094 26.7912 12.1094 24.9999C12.1094 23.2086 12.4833 21.437 13.2072 19.7986C13.9311 18.1601 14.9891 16.6908 16.3135 15.4846Z"
                fill="#0C1014"></path>
              <path
                d="M36.6204 16.4177L35.5007 17.5374C37.055 19.7154 37.8905 22.3243 37.8905 25.0001C37.8905 27.6758 37.055 30.2847 35.5007 32.4627L36.6204 33.5824C38.46 31.0991 39.453 28.0905 39.453 25.0001C39.453 21.9096 38.46 18.901 36.6204 16.4177Z"
                fill="#0C1014"></path>
              <path
                d="M25.0001 39.4531C28.4952 39.4553 31.8716 38.185 34.4986 35.8794L36.1868 37.5677C36.3334 37.7137 36.532 37.7956 36.7389 37.7954C36.9458 37.7952 37.1442 37.7129 37.2905 37.5666C37.4368 37.4203 37.5191 37.2219 37.5193 37.015C37.5195 36.8081 37.4376 36.6095 37.2916 36.4629L35.6196 34.791L34.5153 33.6865C32.3973 36.0136 29.4997 37.4834 26.3709 37.8178C23.2421 38.1521 20.0993 37.3278 17.5374 35.5008L16.4177 36.6205C18.8996 38.4628 21.9091 39.4561 25.0001 39.4531Z"
                fill="#0C1014"></path>
              <path
                d="M49.2188 24.707H45.3051C45.3065 24.8049 45.3125 24.9017 45.3125 25C45.3058 30.0932 43.3881 34.9985 39.9386 38.7458C36.4892 42.4931 31.7591 44.8096 26.6838 45.2372V46.8038C31.9557 46.3903 36.8999 44.0835 40.6037 40.3093C44.3075 36.535 46.5207 31.5482 46.8347 26.2695H49.2188C49.426 26.2695 49.6247 26.1872 49.7712 26.0407C49.9177 25.8942 50 25.6955 50 25.4883C50 25.2811 49.9177 25.0824 49.7712 24.9359C49.6247 24.7893 49.426 24.707 49.2188 24.707Z"
                fill="#0C1014"></path>
              <path
                d="M45.2241 23.1446H46.7907C46.3439 17.9772 44.0778 13.136 40.3957 9.48294C36.7136 5.82991 31.8547 3.60215 26.6838 3.19629V4.76289C31.4398 5.16465 35.903 7.22611 39.2924 10.5865C42.6818 13.9469 44.7815 18.3923 45.2241 23.1446Z"
                fill="#0C1014"></path>
              <path
                d="M24.9999 4.6875C25.0406 4.6875 25.0806 4.69034 25.1212 4.69057V0.78125C25.1212 0.57405 25.0389 0.375336 24.8924 0.228823C24.7459 0.08231 24.5472 0 24.34 0C24.1328 0 23.934 0.08231 23.7875 0.228823C23.641 0.375336 23.5587 0.57405 23.5587 0.78125V3.17779C18.3419 3.52911 13.4228 5.73511 9.69067 9.39707C5.95853 13.059 3.65953 17.9353 3.20923 23.1445H4.77581C5.24404 18.1025 7.57639 13.4164 11.3167 10.0029C15.057 6.58945 19.9361 4.69407 24.9999 4.6875Z"
                fill="#0C1014"></path>
              <path
                d="M0.78125 26.2695H3.16463C3.48095 31.5903 5.72671 36.6131 9.48107 40.3966C13.2354 44.1802 18.2407 46.4648 23.5588 46.8223V49.2188C23.5588 49.426 23.6411 49.6247 23.7876 49.7712C23.9341 49.9177 24.1329 50 24.3401 50C24.5473 50 24.746 49.9177 24.8925 49.7712C25.039 49.6247 25.1213 49.426 25.1213 49.2188V45.3094C25.0807 45.3097 25.0407 45.3125 25 45.3125C19.6147 45.3064 14.4516 43.1644 10.6436 39.3564C6.83562 35.5484 4.6936 30.3853 4.6875 25C4.6875 24.9017 4.69353 24.8049 4.69492 24.707H0.78125C0.57405 24.707 0.375336 24.7893 0.228823 24.9359C0.08231 25.0824 0 25.2811 0 25.4883C0 25.6955 0.08231 25.8942 0.228823 26.0407C0.375336 26.1872 0.57405 26.2695 0.78125 26.2695Z"
                fill="#0C1014"></path>
              <path
                d="M27.7344 25C27.7344 24.4592 27.574 23.9305 27.2736 23.4809C26.9731 23.0312 26.546 22.6807 26.0464 22.4738C25.5468 22.2668 24.997 22.2127 24.4666 22.3182C23.9361 22.4237 23.4489 22.6841 23.0665 23.0665C22.6841 23.4489 22.4237 23.9361 22.3182 24.4666C22.2127 24.997 22.2668 25.5468 22.4738 26.0464C22.6807 26.546 23.0312 26.9731 23.4809 27.2736C23.9305 27.574 24.4592 27.7344 25 27.7344C25.725 27.7336 26.42 27.4452 26.9326 26.9326C27.4452 26.42 27.7336 25.725 27.7344 25Z"
                fill="#0C1014"></path>
            </g>
            <defs>
              <clipPath id="clip0_231_300">
                <rect width="50" height="50" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </span>
        <h4
          class="text-2xl text-center leading-6 sm:text-[32px] sm:leading-8 font-bold text-aux1"
        >
          <strong>Caza <br /> Chollos</strong>
        </h4>
      </div>
    </div>
  </div>

  <div class="xl:flex">
    <div class="contents lg:flex xl:contents">
      <div
        class="flex-1 bg-primary hidden lg:flex flex-col gap-4 sm:gap-5 justify-center items-center max-w-[300px] aspect-square xl:max-h-[300px]"
      >
        <span>
          <svg
            class="w-[50px] h-[50px] sm:w-[70px] sm:h-[70px]"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_231_300)">
              <path
                d="M25.7812 19.5312V17.9688C25.7812 17.7615 25.6989 17.5628 25.5524 17.4163C25.4059 17.2698 25.2072 17.1875 25 17.1875C24.7928 17.1875 24.5941 17.2698 24.4476 17.4163C24.3011 17.5628 24.2188 17.7615 24.2188 17.9688V19.5312C24.2188 19.7385 24.3011 19.9372 24.4476 20.0837C24.5941 20.2302 24.7928 20.3125 25 20.3125C25.2072 20.3125 25.4059 20.2302 25.5524 20.0837C25.6989 19.9372 25.7812 19.7385 25.7812 19.5312Z"
                fill="#0C1014"></path>
              <path
                d="M24.2188 30.4688V32.0312C24.2188 32.2385 24.3011 32.4372 24.4476 32.5837C24.5941 32.7302 24.7928 32.8125 25 32.8125C25.2072 32.8125 25.4059 32.7302 25.5524 32.5837C25.6989 32.4372 25.7812 32.2385 25.7812 32.0312V30.4688C25.7812 30.2615 25.6989 30.0628 25.5524 29.9163C25.4059 29.7698 25.2072 29.6875 25 29.6875C24.7928 29.6875 24.5941 29.7698 24.4476 29.9163C24.3011 30.0628 24.2188 30.2615 24.2188 30.4688Z"
                fill="#0C1014"></path>
              <path
                d="M30.4688 24.2188C30.2615 24.2188 30.0628 24.3011 29.9163 24.4476C29.7698 24.5941 29.6875 24.7928 29.6875 25C29.6875 25.2072 29.7698 25.4059 29.9163 25.5524C30.0628 25.6989 30.2615 25.7812 30.4688 25.7812H32.0312C32.2385 25.7812 32.4372 25.6989 32.5837 25.5524C32.7302 25.4059 32.8125 25.2072 32.8125 25C32.8125 24.7928 32.7302 24.5941 32.5837 24.4476C32.4372 24.3011 32.2385 24.2188 32.0312 24.2188H30.4688Z"
                fill="#0C1014"></path>
              <path
                d="M17.9688 24.2188C17.7615 24.2188 17.5628 24.3011 17.4163 24.4476C17.2698 24.5941 17.1875 24.7928 17.1875 25C17.1875 25.2072 17.2698 25.4059 17.4163 25.5524C17.5628 25.6989 17.7615 25.7812 17.9688 25.7812H19.5312C19.7385 25.7812 19.9372 25.6989 20.0837 25.5524C20.2302 25.4059 20.3125 25.2072 20.3125 25C20.3125 24.7928 20.2302 24.5941 20.0837 24.4476C19.9372 24.3011 19.7385 24.2188 19.5312 24.2188H17.9688Z"
                fill="#0C1014"></path>
              <path
                d="M37.2916 12.4323C37.2191 12.3597 37.1329 12.3022 37.0382 12.2629C36.9434 12.2236 36.8418 12.2034 36.7392 12.2034C36.6366 12.2034 36.535 12.2236 36.4403 12.2629C36.3455 12.3022 36.2594 12.3597 36.1868 12.4323L34.4986 14.1206C32.0226 11.9507 28.8784 10.6938 25.5889 10.559C22.2995 10.4241 19.063 11.4195 16.4177 13.3795L17.5374 14.4992C20.0993 12.6722 23.2421 11.8478 26.3709 12.1822C29.4997 12.5165 32.3974 13.9864 34.5153 16.3135L35.6197 15.2091L37.2916 13.537C37.3641 13.4645 37.4217 13.3784 37.461 13.2836C37.5003 13.1889 37.5205 13.0873 37.5205 12.9847C37.5205 12.8821 37.5003 12.7805 37.461 12.6857C37.4217 12.5909 37.3641 12.5048 37.2916 12.4323Z"
                fill="#0C1014"></path>
              <path
                d="M16.3135 15.4846L15.2091 14.3802L13.537 12.7084C13.3905 12.5619 13.1919 12.4797 12.9847 12.4797C12.7776 12.4798 12.5789 12.5621 12.4325 12.7085C12.286 12.855 12.2037 13.0536 12.2037 13.2608C12.2036 13.4679 12.2859 13.6666 12.4323 13.8131L14.1206 15.5014C11.8169 18.1294 10.5469 21.5051 10.5469 24.9999C10.5469 28.4946 11.8169 31.8703 14.1206 34.4984L12.4323 36.1867C12.3597 36.2592 12.3021 36.3453 12.2629 36.4401C12.2236 36.5349 12.2033 36.6365 12.2033 36.7391C12.2033 36.8417 12.2235 36.9433 12.2628 37.0381C12.302 37.1329 12.3596 37.219 12.4321 37.2916C12.5047 37.3641 12.5908 37.4217 12.6856 37.4609C12.7804 37.5002 12.882 37.5204 12.9846 37.5204C13.0872 37.5204 13.1888 37.5001 13.2836 37.4608C13.3784 37.4215 13.4645 37.364 13.537 37.2914L15.209 35.6194L16.3135 34.5152C14.9891 33.309 13.9311 31.8397 13.2072 30.2012C12.4833 28.5627 12.1094 26.7912 12.1094 24.9999C12.1094 23.2086 12.4833 21.437 13.2072 19.7986C13.9311 18.1601 14.9891 16.6908 16.3135 15.4846Z"
                fill="#0C1014"></path>
              <path
                d="M36.6204 16.4177L35.5007 17.5374C37.055 19.7154 37.8905 22.3243 37.8905 25.0001C37.8905 27.6758 37.055 30.2847 35.5007 32.4627L36.6204 33.5824C38.46 31.0991 39.453 28.0905 39.453 25.0001C39.453 21.9096 38.46 18.901 36.6204 16.4177Z"
                fill="#0C1014"></path>
              <path
                d="M25.0001 39.4531C28.4952 39.4553 31.8716 38.185 34.4986 35.8794L36.1868 37.5677C36.3334 37.7137 36.532 37.7956 36.7389 37.7954C36.9458 37.7952 37.1442 37.7129 37.2905 37.5666C37.4368 37.4203 37.5191 37.2219 37.5193 37.015C37.5195 36.8081 37.4376 36.6095 37.2916 36.4629L35.6196 34.791L34.5153 33.6865C32.3973 36.0136 29.4997 37.4834 26.3709 37.8178C23.2421 38.1521 20.0993 37.3278 17.5374 35.5008L16.4177 36.6205C18.8996 38.4628 21.9091 39.4561 25.0001 39.4531Z"
                fill="#0C1014"></path>
              <path
                d="M49.2188 24.707H45.3051C45.3065 24.8049 45.3125 24.9017 45.3125 25C45.3058 30.0932 43.3881 34.9985 39.9386 38.7458C36.4892 42.4931 31.7591 44.8096 26.6838 45.2372V46.8038C31.9557 46.3903 36.8999 44.0835 40.6037 40.3093C44.3075 36.535 46.5207 31.5482 46.8347 26.2695H49.2188C49.426 26.2695 49.6247 26.1872 49.7712 26.0407C49.9177 25.8942 50 25.6955 50 25.4883C50 25.2811 49.9177 25.0824 49.7712 24.9359C49.6247 24.7893 49.426 24.707 49.2188 24.707Z"
                fill="#0C1014"></path>
              <path
                d="M45.2241 23.1446H46.7907C46.3439 17.9772 44.0778 13.136 40.3957 9.48294C36.7136 5.82991 31.8547 3.60215 26.6838 3.19629V4.76289C31.4398 5.16465 35.903 7.22611 39.2924 10.5865C42.6818 13.9469 44.7815 18.3923 45.2241 23.1446Z"
                fill="#0C1014"></path>
              <path
                d="M24.9999 4.6875C25.0406 4.6875 25.0806 4.69034 25.1212 4.69057V0.78125C25.1212 0.57405 25.0389 0.375336 24.8924 0.228823C24.7459 0.08231 24.5472 0 24.34 0C24.1328 0 23.934 0.08231 23.7875 0.228823C23.641 0.375336 23.5587 0.57405 23.5587 0.78125V3.17779C18.3419 3.52911 13.4228 5.73511 9.69067 9.39707C5.95853 13.059 3.65953 17.9353 3.20923 23.1445H4.77581C5.24404 18.1025 7.57639 13.4164 11.3167 10.0029C15.057 6.58945 19.9361 4.69407 24.9999 4.6875Z"
                fill="#0C1014"></path>
              <path
                d="M0.78125 26.2695H3.16463C3.48095 31.5903 5.72671 36.6131 9.48107 40.3966C13.2354 44.1802 18.2407 46.4648 23.5588 46.8223V49.2188C23.5588 49.426 23.6411 49.6247 23.7876 49.7712C23.9341 49.9177 24.1329 50 24.3401 50C24.5473 50 24.746 49.9177 24.8925 49.7712C25.039 49.6247 25.1213 49.426 25.1213 49.2188V45.3094C25.0807 45.3097 25.0407 45.3125 25 45.3125C19.6147 45.3064 14.4516 43.1644 10.6436 39.3564C6.83562 35.5484 4.6936 30.3853 4.6875 25C4.6875 24.9017 4.69353 24.8049 4.69492 24.707H0.78125C0.57405 24.707 0.375336 24.7893 0.228823 24.9359C0.08231 25.0824 0 25.2811 0 25.4883C0 25.6955 0.08231 25.8942 0.228823 26.0407C0.375336 26.1872 0.57405 26.2695 0.78125 26.2695Z"
                fill="#0C1014"></path>
              <path
                d="M27.7344 25C27.7344 24.4592 27.574 23.9305 27.2736 23.4809C26.9731 23.0312 26.546 22.6807 26.0464 22.4738C25.5468 22.2668 24.997 22.2127 24.4666 22.3182C23.9361 22.4237 23.4489 22.6841 23.0665 23.0665C22.6841 23.4489 22.4237 23.9361 22.3182 24.4666C22.2127 24.997 22.2668 25.5468 22.4738 26.0464C22.6807 26.546 23.0312 26.9731 23.4809 27.2736C23.9305 27.574 24.4592 27.7344 25 27.7344C25.725 27.7336 26.42 27.4452 26.9326 26.9326C27.4452 26.42 27.7336 25.725 27.7344 25Z"
                fill="#0C1014"></path>
            </g>
            <defs>
              <clipPath id="clip0_231_300">
                <rect width="50" height="50" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </span>
        <span
          class="text-2xl text-center leading-6 sm:text-[32px] sm:leading-8 font-bold text-aux1"
          ><strong>Caza <br /> Chollos</strong></span
        >
      </div>
      <div
        class="lg:flex-1 py-[60px] lg:py-0 lg:min-h-[300px] linear-bg-aux-3 flex flex-col justify-center items-center text-base md:text-lg leading-[28px] md:leading-[34px] px-8 border border-white/15 border-t-0 text-center"
      >
        <p class="block text-start">
          Vallax es la aplicación que te permite <strong
            >crear alertas personalizadas</strong
          > en <strong>Wallapop</strong>, <strong>Vinted</strong> y <strong
            >Milanuncios</strong
          >.
        </p>
        <p class="block mt-4 text-start">
          Recibe <strong>notificaciones al instante</strong> en <strong
            >Telegram</strong
          > de los artículos que más te interesan y nunca pierdas una oportunidad.
        </p>
      </div>
    </div>

    <div class="flex xl:contents">
      <div
        class="flex-1 flex items-center justify-center border border-white/15 border-t-0 aspect-square xl:max-w-[300px] xl:max-h-[300px]"
      >
        <img
          src="/images/logo-2.png"
          alt="logo-vallax-2"
          class="h-[136px] sm:h-[152px] lg:h-[200px] xl:h-[196px]"
        />
      </div>
      <!--  -->
      <div
        class="flex-1 flex justify-center items-center p-2 aspect-square xl:max-w-[300px] xl:max-h-[300px] xl:hidden 2xl:flex"
      >
        <div
          class="border rounded-full w-full h-full flex justify-center items-center p-7 lg:p-10 c_ring-3"
          style="border-color: rgba(255,255,255,0.2)"
        >
          <div
            class="border rounded-full w-full h-full flex justify-center items-center p-7 lg:p-10 c_ring-2"
            style="border-color: rgba(255,255,255,0.4)"
          >
            <div
              class="border rounded-full w-full h-full flex justify-center items-center c_ring-1"
              style="border-color: rgba(255,255,255,0.6)"
            >
              <span>
                <svg
                  class="w-11 h-11 sm:w-16 sm:h-16 lg:w-[100px] lg:h-[100px] xl:w-16 xl:h-16"
                  viewBox="0 0 44 44"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M34.1521 28.9243V15.1119C34.1521 15.1031 34.1492 15.0949 34.1489 15.0862C34.1492 15.0791 34.1521 15.0727 34.1521 15.0655C34.1514 14.7795 33.9742 14.5234 33.7056 14.423L22.241 10.1268C22.0846 10.0681 21.9127 10.0684 21.7563 10.1278L10.2917 14.469C10.2908 14.4693 10.2903 14.47 10.2895 14.4703C10.2386 14.4897 10.1896 14.5152 10.144 14.5469C10.1374 14.5515 10.1326 14.5579 10.1262 14.5627C10.1092 14.5754 10.095 14.5903 10.0793 14.6045C10.0473 14.6332 10.0179 14.6636 9.99208 14.6975C9.97849 14.7152 9.96623 14.733 9.95448 14.752C9.93166 14.7889 9.91344 14.8275 9.89792 14.8681C9.8907 14.8869 9.88223 14.9045 9.8766 14.924C9.85931 14.9847 9.8479 15.0472 9.8479 15.1119V28.9243C9.8479 29.211 10.0258 29.4675 10.2944 29.5682L21.759 33.8644C21.767 33.8674 21.7758 33.8662 21.7839 33.8689C21.846 33.8901 21.9104 33.9009 21.9758 33.9036C21.984 33.9039 21.9919 33.908 22 33.908C22.0008 33.908 22.0015 33.9077 22.0023 33.9077C22.0032 33.9077 22.0039 33.908 22.0047 33.908C22.0128 33.908 22.0207 33.9039 22.0289 33.9036C22.0943 33.9009 22.1587 33.8901 22.2208 33.8689C22.2289 33.8662 22.2377 33.8674 22.2457 33.8644L33.7056 29.5682C33.9742 29.4675 34.1521 29.211 34.1521 28.9243ZM21.9989 18.6735L18.1484 17.2306L27.2766 13.4821L31.5142 15.0702L21.9989 18.6735ZM22.0013 11.5052L25.384 12.7729L16.256 16.5214L14.5812 15.8938L12.4858 15.1085L22.0013 11.5052ZM21.3125 32.2285L11.2229 28.4476V16.1038L15.5842 17.7382V20.7173C15.5842 21.0969 15.8917 21.4048 16.2717 21.4048C16.6517 21.4048 16.9592 21.0969 16.9592 20.7173V18.2535L21.3125 19.8848V32.2285ZM32.7771 28.448L22.6922 32.2285V19.8827L32.7771 16.1038V28.448Z"
                    fill="#EA267A"></path>
                  <path
                    d="M41.9395 21.3125H39.783C39.403 21.3125 39.0955 21.6203 39.0955 22C39.0955 22.3797 39.403 22.6875 39.783 22.6875H41.9395C42.3195 22.6875 42.627 22.3797 42.627 22C42.627 21.6203 42.3195 21.3125 41.9395 21.3125Z"
                    fill="#EA267A"></path>
                  <path
                    d="M2.06445 21.3125C1.68445 21.3125 1.37695 21.6203 1.37695 22C1.37695 22.3797 1.68445 22.6875 2.06445 22.6875H4.22095C4.60095 22.6875 4.90845 22.3797 4.90845 22C4.90845 21.6203 4.60095 21.3125 4.22095 21.3125H2.06445Z"
                    fill="#EA267A"></path>
                  <path
                    d="M36.586 7.41626C36.3174 7.14771 35.8824 7.14771 35.6138 7.41626L34.0891 8.94098C33.8206 9.20953 33.8206 9.64459 34.0891 9.91315C34.2234 10.0474 34.3993 10.1146 34.5752 10.1146C34.7511 10.1146 34.927 10.0474 35.0613 9.91315L36.586 8.38843C36.8546 8.11987 36.8546 7.68481 36.586 7.41626Z"
                    fill="#EA267A"></path>
                  <path
                    d="M7.41821 36.5838C7.55249 36.7181 7.72839 36.7852 7.9043 36.7852C8.0802 36.7852 8.2561 36.7181 8.39038 36.5838L9.9151 35.0591C10.1837 34.7905 10.1837 34.3555 9.9151 34.0869C9.64655 33.8184 9.21149 33.8184 8.94293 34.0869L7.41821 35.6116C7.14966 35.8802 7.14966 36.3152 7.41821 36.5838Z"
                    fill="#EA267A"></path>
                  <path
                    d="M22.6895 4.21899V2.0625C22.6895 1.68283 22.382 1.375 22.002 1.375C21.6219 1.375 21.3145 1.68283 21.3145 2.0625V4.21899C21.3145 4.59866 21.6219 4.90649 22.002 4.90649C22.382 4.90649 22.6895 4.59866 22.6895 4.21899Z"
                    fill="#EA267A"></path>
                  <path
                    d="M21.3145 39.781V41.9375C21.3145 42.3172 21.6219 42.625 22.002 42.625C22.382 42.625 22.6895 42.3172 22.6895 41.9375V39.781C22.6895 39.4013 22.382 39.0935 22.002 39.0935C21.6219 39.0935 21.3145 39.4013 21.3145 39.781Z"
                    fill="#EA267A"></path>
                  <path
                    d="M8.94293 9.91315C9.07721 10.0474 9.25311 10.1146 9.42902 10.1146C9.60492 10.1146 9.78082 10.0474 9.9151 9.91315C10.1837 9.64459 10.1837 9.20953 9.9151 8.94098L8.39038 7.41626C8.12183 7.14771 7.68677 7.14771 7.41821 7.41626C7.14966 7.68481 7.14966 8.11987 7.41821 8.38843L8.94293 9.91315Z"
                    fill="#EA267A"></path>
                  <path
                    d="M35.6138 36.5838C35.7481 36.7181 35.924 36.7852 36.0999 36.7852C36.2758 36.7852 36.4517 36.7181 36.586 36.5838C36.8546 36.3152 36.8546 35.8802 36.586 35.6116L35.0613 34.0869C34.7927 33.8184 34.3577 33.8184 34.0891 34.0869C33.8206 34.3555 33.8206 34.7905 34.0891 35.0591L35.6138 36.5838Z"
                    fill="#EA267A"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
