---
import { Image } from "astro:assets";
import VintedImage from "../../images/vinted.png";
import WallapopImage from "../../images/wallapop.png";
import MilAnuncios from "../../images/milanuncios.png";
---

<!-- SECTION -2 -->
<div class="relative mt-[-220px] md:mt-[-160px] 2xl:mt-[120px] w-full">
  <div class="linear-bg-aux-2 border-y border-y-white/15 pt-12 pb-11">
    <div class="text-center">
      <h3
        class="text-sm leading-[14px] md:text-xl md:leading-5 font-medium text-white/50"
      >
        Plataformas Compatibles
      </h3>
    </div>
    <div class="flex justify-evenly mt-5 lg:mt-7">
      <a href="https://www.vinted.es/" target="_blank">
        <Image src={VintedImage} alt={"vinted"} />
      </a>
      <a href="https://es.wallapop.com/" target="_blank">
        <Image src={WallapopImage} alt={"wallapop"} />
      </a>
      <a href="https://www.milanuncios.com/" target="_blank">
        <Image src={MilAnuncios} alt={"milanuncios"} />
      </a>
    </div>
  </div>
</div>
