---

---

<!-- SECTION - 4 -->
<div class="mt-[140px] px-4 sm:px-0 xl:mt-[180px] xl:flex xl:flex-col-reverse">
  <div class="flex justify-center xl:mt-[-146px]">
    <div class="px-[14%] text-center">
      <h3
        class="block text-[32px] leading-[32px] lg:text-[40px] lg:leading-10 font-bold"
      >
        Funciones Claves
      </h3>

      <span
        class="hidden md:block text-xl leading-6 xl:text-2xl xl:leading-6 mt-5"
        >Todo lo que necesitas para encontrar antes que nadie.</span
      >
    </div>
  </div>

  <div class="relative mt-10">
    <div
      class="flex flex-row flex-wrap justify-center xl:justify-between gap-10"
    >
      <!-- [card 1] -->
      <div class="grow basis-0 z-10 w-full max-w-[385px] xl:mt-[240px]">
        <div class="flex justify-end">
          <div
            class="bg-ternary/15 border border-ternary/50 max-w-[50px] max-h-[50px] box-shadow-aux-3 p-2.5"
          >
            <span>
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M27.1875 8.12631H15.2901C15.2101 7.98818 15.1181 7.85532 15 7.73721L11.6382 4.37631C10.9076 3.64572 9.71741 3.64572 8.98682 4.37631L5.625 7.73721C5.5069 7.85532 5.41489 7.98818 5.33495 8.12631H2.8125C2.29477 8.12631 1.875 8.54562 1.875 9.06381C1.875 9.582 2.29477 10.0013 2.8125 10.0013H5.33546C5.41534 10.1391 5.50718 10.2717 5.625 10.3895L8.98682 13.7504C9.35257 14.1157 9.83231 14.2988 10.3125 14.2988C10.7927 14.2988 11.2729 14.1157 11.6382 13.7504L15 10.3895C15.1178 10.2717 15.2097 10.1391 15.2895 10.0013H27.1875C27.7052 10.0013 28.125 9.582 28.125 9.06381C28.125 8.54562 27.7052 8.12631 27.1875 8.12631Z"
                  fill="#EA267A"></path>
                <path
                  d="M27.1875 19.9987H24.6645C24.5847 19.8609 24.4928 19.7283 24.375 19.6105L21.0132 16.2496C20.2826 15.519 19.0924 15.519 18.3618 16.2496L15 19.6105C14.8822 19.7283 14.7903 19.8609 14.7105 19.9987H2.8125C2.29477 19.9987 1.875 20.418 1.875 20.9362C1.875 21.4544 2.29477 21.8737 2.8125 21.8737H14.7099C14.7899 22.0118 14.8819 22.1447 15 22.2628L18.3618 25.6237C18.7271 25.989 19.2073 26.1721 19.6875 26.1721C20.1677 26.1721 20.6479 25.989 21.0132 25.6237L24.375 22.2628C24.4931 22.1447 24.5851 22.0118 24.6651 21.8737H27.1875C27.7052 21.8737 28.125 21.4544 28.125 20.9362C28.125 20.418 27.7052 19.9987 27.1875 19.9987Z"
                  fill="#EA267A"></path>
              </svg>
            </span>
          </div>
        </div>
        <!--  -->
        <div class="mt-2.5">
          <div
            class="linear-bg-aux-4 border border-white/15 backdrop-blur-xs flex justify-center items-center py-10 px-3"
          >
            <div class="w-[305px]">
              <div
                class="flex items-center gap-1 text-ternary text-shadow-aux-1"
              >
                <span class="text-[40px] leading-10 font-bold">//</span>
                <h4 class="uppercase text-2xl leading-6 font-bold">Sencillo</h4>
              </div>

              <p class="block mt-5 text-lg leading-5 font-semibold">
                Intefaz simple y clara
              </p>
              <p class="block mt-5 text-base leading-6">
                Crea alertas de una manera sencilla e intuitiva
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- [card 2] -->
      <div class="grow basis-0 z-10 w-full max-w-[385px]">
        <div class="flex justify-end">
          <div
            class="bg-secondary/15 border border-secondary/50 max-w-[50px] max-h-[50px] box-shadow-aux-4 p-2.5"
          >
            <span>
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M23.75 20C18.6613 17.9779 17.0221 16.3387 15 11.25C12.9779 16.3387 11.3387 17.9779 6.25 20C11.3387 22.0221 12.9779 23.6613 15 28.75C17.0221 23.6613 18.6613 22.0221 23.75 20Z"
                  fill="#E0E938"></path>
                <path
                  d="M27.5 9.375C24.9557 8.36395 24.1361 7.54434 23.125 5C22.1139 7.54434 21.2943 8.36395 18.75 9.375C21.2943 10.3861 22.114 11.2057 23.125 13.75C24.1361 11.2057 24.9557 10.3861 27.5 9.375Z"
                  fill="#E0E938"></path>
                <path
                  d="M11.25 6.25C9.06914 5.38338 8.36662 4.68086 7.5 2.5C6.63338 4.68086 5.93086 5.38338 3.75 6.25C5.93086 7.11662 6.6334 7.81914 7.5 10C8.36662 7.81914 9.06914 7.11662 11.25 6.25Z"
                  fill="#E0E938"></path>
              </svg>
            </span>
          </div>
        </div>
        <!--  -->
        <div class="mt-2.5">
          <div
            class="linear-bg-aux-4 border border-white/15 backdrop-blur-xs flex justify-center items-center py-10 px-3"
          >
            <div class="w-[305px]">
              <div
                class="flex items-center gap-1 text-secondary text-shadow-aux-2"
              >
                <span class="text-[40px] leading-10 font-bold">//</span>
                <h4 class="uppercase text-2xl leading-6 font-bold">
                  Personalizable
                </h4>
              </div>

              <p class="block mt-5 text-lg leading-5 font-semibold">
                Crea alertas personalizadas
              </p>
              <p class="block mt-5 text-base leading-6">
                Controla el rango de precios, Plataformas, Palabras claves,
                Distancia...
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- [card 3] -->
      <div class="grow basis-0 z-10 w-full max-w-[385px] xl:mt-[240px]">
        <div class="flex justify-end">
          <div
            class="bg-primary/15 border border-primary/50 max-w-[50px] max-h-[50px] box-shadow-aux-5 p-2.5"
          >
            <span>
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.0852 1.60059L17.4983 3.18754L19.398 5.08732L17.4983 6.98711L19.0852 8.57406L22.572 5.08732L19.0852 1.60059Z"
                  fill="#07D9C4"></path>
                <path
                  d="M12.5017 3.18754L10.9148 1.60059L7.42798 5.08732L10.9148 8.57406L12.5017 6.98711L10.602 5.08732L12.5017 3.18754Z"
                  fill="#07D9C4"></path>
                <path
                  d="M14.9242 0L12.7822 10.1746H15.0758L17.2178 0H14.9242Z"
                  fill="#07D9C4"></path>
                <path
                  d="M25.0996 12.0449H4.90015V15.0374H25.0996V12.0449Z"
                  fill="#07D9C4"></path>
                <path
                  d="M4.90015 17.2817V19.6756L11.6333 25.3206V29.9999H18.3665V25.3206L25.0996 19.6756V17.2817H4.90015Z"
                  fill="#07D9C4"></path>
              </svg>
            </span>
          </div>
        </div>
        <!--  -->
        <div class="mt-2.5">
          <div
            class="linear-bg-aux-4 border border-white/15 backdrop-blur-xs flex justify-center items-center py-10 px-3"
          >
            <div class="w-[305px]">
              <div
                class="flex items-center gap-1 text-primary text-shadow-aux-3"
              >
                <span class="text-[40px] leading-10 font-bold">//</span>
                <h4 class="uppercase text-2xl leading-6 font-bold">
                  Instantaneo
                </h4>
              </div>

              <p class="block mt-5 text-lg leading-5 font-semibold">
                Recibe notificaciones al momento
              </p>
              <p class="block mt-5 text-base leading-6">
                Te notifica en el instante en que un anuncio es publicado
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <!-- [absolute arch] -->
    <div class="contents xl:flex justify-center mt-[-290px]">
      <div
        class="absolute xl:contents rotate-90 opacity-50 top-[calc(1/2*100%+30px)] -translate-y-1/2 left-[-440px] sm:left-[-320px] lg:left-[-280px]"
      >
        <svg
          width="934"
          height="545"
          viewBox="0 0 934 545"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M764 545C764 380.971 631.029 248 467 248C302.971 248 170 380.971 170 545"
            stroke="url(#paint0_linear_388_29)"
            stroke-opacity="0.5"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M625.979 159.793C727.822 202.139 809.262 283.698 851.452 385.623L740.539 431.512C710.501 358.926 652.516 300.84 580 270.669L625.979 159.793Z"
            fill="#07D9C4"
            fill-opacity="0.05"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M626.569 159.434C524.611 117.363 409.354 117.447 307.449 159.686L353.428 270.562C425.993 240.476 508.068 240.404 580.679 270.347L626.569 159.434Z"
            fill="#E0E938"
            fill-opacity="0.05"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M307.474 160C205.63 202.346 124.19 283.905 82 385.83L192.913 431.719C222.951 359.133 280.936 301.047 353.452 270.876L307.474 160Z"
            fill="#EA267A"
            fill-opacity="0.05"></path>
          <path
            d="M884 545C884 314.697 697.303 128 467 128C236.697 128 50 314.697 50 545"
            stroke="url(#paint1_linear_388_29)"
            stroke-opacity="0.5"></path>
          <path
            d="M0.34668 352.029L231.355 447.607"
            stroke="white"
            stroke-opacity="0.15"></path>
          <path
            d="M273.408 78.7534L369.172 309.685"
            stroke="white"
            stroke-opacity="0.15"></path>
          <path
            d="M659.727 78.6018L564.149 309.61"
            stroke="white"
            stroke-opacity="0.15"></path>
          <path
            d="M933.003 351.663L702.072 447.427"
            stroke="white"
            stroke-opacity="0.15"></path>
          <defs>
            <linearGradient
              id="paint0_linear_388_29"
              x1="467"
              y1="248"
              x2="467"
              y2="545"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white"></stop>
              <stop offset="1" stop-color="white" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient
              id="paint1_linear_388_29"
              x1="467"
              y1="128"
              x2="467"
              y2="545"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white"></stop>
              <stop offset="1" stop-color="white" stop-opacity="0"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>
