---
---

<!-- [INFINITE CAROUSEL] -->
<div class="mt-[140px] bg-primary/5 ">
  <div class="animate-marquee opacity-75 w-full py-4 overflow-hidden flex justify-center items-center gap-8 whitespace-nowrap cursor-default pointer-events-none select-none">
    <span class="text-sm leading-[14px]">NINTENDO SWITCH OLED – €120 – COMO NUEVA – HACE 2 H</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-secondary text-sm leading-[14px]">GRAND THEFT AUTO V (PS4) – €30 – COMO NUEVO – AHORA</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-sm leading-[14px]">ZAPATILLAS NIKE DUNK LOW “PANDA” – €60 – USADAS  – HACE 5 H</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-secondary text-sm leading-[14px]">IPHONE 13 PRO 256GB – €380 – NUEVO PRECINTADO – AHORA</span>

    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-sm leading-[14px]">NINTENDO SWITCH OLED – €120 – COMO NUEVA – HACE 2 H</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-secondary text-sm leading-[14px]">GRAND THEFT AUTO V (PS4) – €30 – COMO NUEVO – AHORA</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-sm leading-[14px]">ZAPATILLAS NIKE DUNK LOW “PANDA” – €60 – USADAS  – HACE 5 H</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-secondary text-sm leading-[14px]">IPHONE 13 PRO 256GB – €380 – NUEVO PRECINTADO – AHORA</span>
    <!--  -->
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-sm leading-[14px]">NINTENDO SWITCH OLED – €120 – COMO NUEVA – HACE 2 H</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-secondary text-sm leading-[14px]">GRAND THEFT AUTO V (PS4) – €30 – COMO NUEVO – AHORA</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-sm leading-[14px]">ZAPATILLAS NIKE DUNK LOW “PANDA” – €60 – USADAS  – HACE 5 H</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-secondary text-sm leading-[14px]">IPHONE 13 PRO 256GB – €380 – NUEVO PRECINTADO – AHORA</span>
    <!--  -->
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-sm leading-[14px]">NINTENDO SWITCH OLED – €120 – COMO NUEVA – HACE 2 H</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-secondary text-sm leading-[14px]">GRAND THEFT AUTO V (PS4) – €30 – COMO NUEVO – AHORA</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-sm leading-[14px]">ZAPATILLAS NIKE DUNK LOW “PANDA” – €60 – USADAS  – HACE 5 H</span>
    <div class="bg-ternary min-h-2.5 min-w-2.5 h-2.5 w-2.5 rounded-full box-shadow-aux-1"></div>
    <span class="text-secondary text-sm leading-[14px]">IPHONE 13 PRO 256GB – €380 – NUEVO PRECINTADO – AHORA</span>
  </div>
</div>
