---

---

<section id="contact" class="contact-section-bg py-16 md:py-24">
    <div class="container mx-auto px-6 text-center">
        <h2
            class="font-display text-3xl md:text-4xl lg:text-5xl font-bold mb-4 section-text-color"
        >
            ¿Preguntas o Sugerencias?
        </h2>
        <p
            class="text-lg md:text-xl max-w-xl mx-auto mb-8 section-subtext-color"
        >
            Si tienes alguna duda, problema o simplemente quieres darnos tu
            opinión, no dudes en contactarnos.
        </p>
        <a
            href="mailto:tuemail@ejemplo.com"
            class="cta-button font-semibold py-4 px-10 text-lg inline-block transform hover:scale-105"
        >
            Envíanos un Email
        </a>
    </div>
</section>
