---
const { color } = Astro.props;
---

<div class="relative w-full">
  <div
    class="absolute top-0 left-0 h-[15px] border-t-1 w-[15px] border-l-1"
    style={{ borderColor: `${color}50` }}
  >
  </div>
  <div
    class="absolute top-0 right-0 h-[15px] border-t-1 w-[15px] border-r-1"
    style={{ borderColor: `${color}50` }}
  >
  </div>
  <div
    class="absolute bottom-0 right-0 h-[15px] border-b-1 w-[15px] border-r-1"
    style={{ borderColor: `${color}50` }}
  >
  </div>
  <div
    class="absolute bottom-0 left-0 h-[15px] border-b-1 w-[15px] border-l-1"
    style={{ borderColor: `${color}50` }}
  >
  </div>

  <slot />
</div>
