---

---

<nav class="nav-bg sticky top-0 z-50">
    <div class="container mx-auto px-6 py-3 flex justify-between items-center">
        <a href="#" class="flex items-center space-x-3">
            <svg
                class="vallax-logo-svg"
                viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg"
            >
                <circle
                    cx="50"
                    cy="50"
                    r="45"
                    stroke-width="8"
                    class="logo-circle-stroke"></circle>
                <path
                    d="M25 30 L50 75 L75 30 L65 30 L50 55 L35 30 Z"
                    class="logo-v-fill"></path>
            </svg>
            <span class="font-display text-3xl brand-text-heading">VALLAX</span>
        </a>
        <div class="flex items-center space-x-6 md:space-x-8">
            <a href="#contact" class="nav-link"
                ><span class="nav-link-text-color">Contacto</span></a
            >
            <a href="/docs" class="nav-link"
                ><span class="nav-link-text-color">Documentación</span></a
            >
        </div>
    </div>
</nav>
