---
---

<div class="max-w-[1728px] w-full">
  <!-- navbar [wrapper] -->
  <div class="fixed top-0 left-0 w-full z-50 flex py-[30px] px-[3%] lg:gap-2.5 lg:px-[5%]">
    <!-- navbar [content] -->
    <div class="navbar-bg flex justify-between lg:justify-start items-center gap-5 xl:gap-8 2xl:gap-[75px] grow py-6 px-[26px] lg:py-[16px] lg:px-10 border border-white/15">
      <div>
        <img src="/images/logo.png" alt="Vallax Logo" class="h-[33px]">
      </div>

      <!-- navbar [items] -->
      <div class="hidden lg:contents">
        <a onclick="trackClick('vallax-nav')" href="https://t.me/vallax_group" target="_blank" class="block text-base leading-[14px] cursor-pointer duration-150 hover:text-primary">Comunidad</a>
        <a href="#howitworks" class="block text-base leading-[14px] cursor-pointer duration-150 hover:text-primary">¿Cómo se Utiliza?</a>
        <a href="#pricing" class="!hidden block text-secondary text-base leading-[14px] cursor-pointer duration-150 hover:text-primary">Explorar Planes</a>
      </div>
      
      <!-- navbar [menu-btn] -->
      <div class="flex lg:hidden justify-center items-center w-[30px] h-[30px]">
        <div id="menu-wrapper" class="hamburger-menu-wrapper menu-clikable-item" onclick="toggleMenu()">
          <div class="hamburger-menu">
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- navbar [cta] -->
    <div class="hidden lg:block">
      <a onclick="trackClick('vallax-nav-cta')" href="https://t.me/vallaxbot"  target="_blank" class="btn btn-primary p-7 group">
        <span class="text-[#07D9C4] text-[32px] font-bold leading-[20px]">/</span>
        <span class="text-[#07D9C4] text-xl font-bold leading-[20px]">Comenzar</span>

        <!-- [btn-borders] -->
        <div class="contents">
          <svg class="absolute -top-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1 16V1H16" stroke="#07D9C4" />
          </svg>
          <svg class="absolute -top-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 1L15 1L15 16" stroke="#07D9C4" />
          </svg>
          <svg class="absolute -bottom-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 0L15 15L3.57628e-07 15" stroke="#07D9C4" />
          </svg>
          <svg class="absolute -bottom-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 15L1 15L0.999999 3.57628e-07" stroke="#07D9C4" />
          </svg>
        </div>
      </a>
    </div>
  </div>

  <!-- [BACKDROP] -->
  <div id="menu-backdrop" class="fixed top-0 left-0 z-40 backdrop-blur-sm h-screen w-full hidden"></div>
  <!-- [MENU] -->
  <div id="menu-content" class="px-[3%] invisible z-50 h-0 fixed top-[135px] left-0 w-full">
    <div class="linear-bg-aux-9 flex flex-col gap-8 px-[26px] py-8 border border-white/15">
      <a onclick="toggleMenu(); trackClick('vallax-nav')" href="https://t.me/vallax_group" target="_blank" class="block text-lg leading-[18px]">Comunidad</a>
      <a onclick="toggleMenu()" href="#howitworks" class="block text-lg leading-[18px]">¿Cómo se Utiliza?</a>
      <a onclick="toggleMenu()" href="#pricing" class="!hidden block text-secondary text-lg leading-[18px]">Explorar Planes</a>
    </div>
  </div>
</div>
