---

---

<section id="plans" class="py-16 md:py-24 section-default-bg">
    <div class="container mx-auto px-6 relative z-10">
        <div class="text-center mb-12 md:mb-16">
            <h2
                class="font-heading text-3xl md:text-4xl mb-4 section-text-color"
                style="font-weight: 900;"
            >
                <span class="drawy-underline">Planes</span>
            </h2>
            <p class="text-xl md:text-2xl max-w-3xl mx-auto my-auto mt-16">
                Todas las funcionalidades están disponibles <span
                    class="accent-text font-semibold">gratuitamente</span
                >
                <br />durante la fase beta.
            </p>
        </div>
    </div>
</section>
