---
---

<!-- BEGIN:: RADIAL GLOW -->
<div class="relative h-[200px] overflow-hidden">
  <div class="absolute left-1/2 -translate-x-1/2 -bottom-[20%] 
    w-[75%] h-[60px] rounded-[100%]
    bg-[rgba(7,217,196,0.75)] opacity-[0.35] blur-[60px]"
  >
  </div>
</div>
<!-- END:: RADIAL GLOW -->
