---
---

<!-- SECTION - 1 -->
<div class="max-w-[1728px] w-full mt-10">
  <div class="px-[3%] lg:px-[5%]">
    <div class="2xl:flex">
      <div class="2xl:flex-1 2xl:mt-[100px]">
        <!-- headers and text and stuff -->
        <div>
          <div class="contents lg:flex items-center">
            <div class="bg-ternary/15 flex items-center justify-center max-h-8 px-[14px] py-2 w-fit border border-ternary/50 box-shadow-aux-2">
              <span class="uppercase text-sm leading-[14px] font-bold">Versión Beta</span>
            </div>
            <div class="text-sm leading-[14px] mt-2.5 lg:mt-0 lg:ml-5">
              <span class="text-white/50">*Todos los usuarios gozan de funcionalidades</span>
              <span class="text-secondary/50">PREMIUM</span>
            </div>
          </div>
  
          <div class="mt-8 lg:mt-5">
            <h1 class="text-xl leading-6">Vallax | Alertas Personalizadas para Productos en Wallapop y Vinted</h1>
          </div>
          <div class="text-[40px] leading-10 font-bold mt-8 lg:mt-5 lg:text-[60px] lg:leading-[60px]">
            <h2>
              <span class="block text-secondary">ALERTAS AL INSTANTE</span> 
              <span class="block xl:hidden">PARA QUE NUNCA PIERDAS UNA OPORTUNIDAD</span>
              <span class="hidden xl:block">PARA QUE NUNCA PIERDAS <br> UNA OPORTUNIDAD</span>
            </h2>
          </div>
        </div>

        <div class="contents lg:grid grid-cols-3 gap-2.5 mt-[70px]">
          <div class="flex gap-0.5 mt-12 sm:gap-2.5 lg:contents">
            <div class="contents lg:block lg:grid-cols-1">
              <div class="flex-1 flex justify-center items-center bg-primary text-aux1 border border-white/15 py-11 md:h-[220px] md:max-h-[220px]">
                <div class="flex gap-1">
                  <span class="font-bold text-[40px] leading-10 md:text-[80px] md:leading-20">// </span>
                  <div class="mt-2">
                    <span class="block font-extrabold text-2xl leading-6 md:text-[40px] md:leading-10">2.8 SEG</span>
                    <span class="block text-sm leading-[14px] md:text-xl md:leading-5 mt-1">Promedio de <br> Repuesta</span>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="contents lg:block lg:grid-cols-1">
              <div class="flex-1 flex justify-center items-center bg-aux1 text-primary border border-white/15 py-11 md:h-[220px] md:max-h-[220px]">
                <div class="flex gap-1">
                  <span class="font-bold text-[40px] leading-10 md:text-[80px] md:leading-20">// </span>
                  <div class="mt-2">
                    <span class="block font-extrabold text-2xl leading-6 md:text-[40px] md:leading-10">+25</span>
                    <span class="block text-sm leading-[14px] md:text-xl md:leading-5 mt-1">Categorías de <br> Productos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="contents lg:block lg:grid-cols-1">
            <div class="sm:max-w-[calc(50%-5px)] lg:max-w-none">
              <!--  -->
              <div class="mt-2.5 lg:mt-0">
                <div class="bg-[#26A4E3]/5 flex items-center justify-center gap-4 py-[18px] max-h-[60px] border border-[#26A4E3]/15 cursor-default">
                  <span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_231_249)">
                        <path
                          d="M9.41706 15.181L9.02006 20.765C9.58806 20.765 9.83406 20.521 10.1291 20.228L12.7921 17.683L18.3101 21.724C19.3221 22.288 20.0351 21.991 20.3081 20.793L23.9301 3.82098L23.9311 3.81998C24.2521 2.32398 23.3901 1.73898 22.4041 2.10598L1.11406 10.257C-0.338944 10.821 -0.316944 11.631 0.867056 11.998L6.31006 13.691L18.9531 5.77998C19.5481 5.38598 20.0891 5.60398 19.6441 5.99798L9.41706 15.181Z"
                          fill="#29A9EB" />
                      </g>
                      <defs>
                        <clipPath id="clip0_231_249">
                          <rect width="24" height="24" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                  <span class="text-sm leading-[14px]">Con la Tecnología de Telegram</span>
                </div>
              </div>
    
              <!--  -->
              <div class="mt-2.5">
                <a onclick="trackClick('comunity-sec1')" href="https://t.me/vallax_group" target="_blank" class="btn btn-secondary max-h-[60px] py-5 group">
                  <span class="text-white text-[32px] font-bold leading-[20px]">/</span>
                  <span class="text-white text-xl font-bold leading-[20px]">Comunidad</span>
    
                  <!-- [btn-borders] -->
                  <div class="contents">
                    <svg class="absolute -top-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 16V1H16" stroke="#FFFFFF" />
                    </svg>
                    <svg class="absolute -top-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 1L15 1L15 16" stroke="#FFFFFF" />
                    </svg>
                    <svg class="absolute -bottom-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 0L15 15L3.57628e-07 15" stroke="#FFFFFF" />
                    </svg>
                    <svg class="absolute -bottom-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16 15L1 15L0.999999 3.57628e-07" stroke="#FFFFFF" />
                    </svg>
                  </div>
                </a>
              </div>
    
              <!--  -->
              <div class="mt-2.5">
                <a onclick="trackClick('vallax-sec1')" href="https://t.me/vallaxbot" target="_blank" class="btn btn-primary max-h-[60px] md:max-h-20 md:!h-20 py-5 group">
                  <span class="text-[#07D9C4] text-[32px] font-bold leading-[20px]">/</span>
                  <span class="text-[#07D9C4] text-xl font-bold leading-[20px]">Comenzar</span>
    
                  <!-- [btn-borders] -->
                  <div class="contents">
                    <svg class="absolute -top-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 16V1H16" stroke="#07D9C4" />
                    </svg>
                    <svg class="absolute -top-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 1L15 1L15 16" stroke="#07D9C4" />
                    </svg>
                    <svg class="absolute -bottom-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 0L15 15L3.57628e-07 15" stroke="#07D9C4" />
                    </svg>
                    <svg class="absolute -bottom-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16 15L1 15L0.999999 3.57628e-07" stroke="#07D9C4" />
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- [PHONE STUFF] -->
      <div class="contents 2xl:block 2xl:ml-[4%]">
        <div class="relative flex flex-col justify-center items-center mt-[180px] 2xl:mt-[130px] md:flex-1">
          <!-- logo + notification bubbles -->
          <div class="relative w-fit">
            <!-- logo -->
            <img src="src/assets/images/phone.png" class="w-[326px]">
            <!-- notification bubbles -->
            <div class="absolute -top-[120px] left-0 px-[18px] w-full h-full">
              <!-- logo -->
              <div class="bg-aux1 flex justify-center items-center w-20 h-20 border border-white/15 rounded-[25px]">
                <div class="w-10">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 260 285">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #fff;
                        }
            
                        .cls-2 {
                          filter: url(#outer-glow-1);
                        }
            
                        .cls-3 {
                          fill: #07d9c4;
                        }
                      </style>
                      <filter id="outer-glow-1" x="17" y="-2.72" width="226" height="291" filterUnits="userSpaceOnUse">
                        <feOffset dx="0" dy="0" />
                        <feGaussianBlur result="blur" stdDeviation="8" />
                        <feFlood flood-color="#07d9c4" flood-opacity=".75" />
                        <feComposite in2="blur" operator="in" />
                        <feComposite in="SourceGraphic" />
                      </filter>
                    </defs>
                    <path class="cls-1"
                      d="M255,177.93c0,19.15-1.28,31.41-4.33,53.3l-.07.59-17.25,11.36,1.97-14.06c2.94-21.16,4.16-32.97,4.16-51.19,0-57.74-41.11-106.47-95.66-113.29-4.26-.55-8.66-.83-13.06-.83h-1.39c-4.85,0-9.59.31-14.17.97-54,7.27-94.69,55.94-94.69,113.15,0,18.22,1.25,29.99,4.19,51.19l1.94,14.06-17.25-11.36-.07-.59c-3.05-21.92-4.33-34.15-4.33-53.3,0-64.94,46.48-120.22,108.13-128.53,5.26-.73,10.7-1.11,16.11-1.11.28,0,.55,0,.83.03.14-.03.42-.03.69-.03,5.06,0,10.08.35,15,.97,62.28,7.79,109.24,63.11,109.24,128.67Z" />
                    <path class="cls-1"
                      d="M210.59,155.12c-.52,17.56-14.93,31.62-32.63,31.62-6.34,0-12.26-1.8-17.28-4.95.55-17.56,15-31.59,32.66-31.59,6.34,0,12.26,1.8,17.25,4.92Z" />
                    <path class="cls-1"
                      d="M51.05,155.07c.52,17.56,14.93,31.62,32.63,31.62,6.34,0,12.26-1.8,17.28-4.95-.55-17.56-15-31.59-32.66-31.59-6.34,0-12.26,1.8-17.25,4.92Z" />
                    <g class="cls-2">
                      <polygon class="cls-3"
                        points="218.48 21.56 131.27 263.44 41.52 21.56 60.86 21.56 131.03 211.85 199.21 21.56 218.48 21.56" />
                    </g>
                  </svg>
                </div>
              </div>

              <!-- bubbles -->
              <div class="bg-black/25 max-h-[80px] h-full w-full rounded-[25px] border border-white/15 backdrop-blur-xs mt-2.5">
                <div class="flex items-center gap-4 py-[18px] pl-4 pr-12">
                  <!-- icon -->
                  <div>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="15" cy="15" r="15" fill="#29A9EB" />
                      <path
                        d="M12.8857 16.4881L12.6376 19.9781C12.9926 19.9781 13.1464 19.8256 13.3307 19.6425L14.9951 18.0519L18.4439 20.5775C19.0764 20.93 19.522 20.7444 19.6926 19.9956L21.9564 9.38813L21.957 9.38751C22.1576 8.45251 21.6189 8.08688 21.0026 8.31626L7.69636 13.4106C6.78824 13.7631 6.80199 14.2694 7.54199 14.4988L10.9439 15.5569L18.8457 10.6125C19.2176 10.3663 19.5557 10.5025 19.2776 10.7488L12.8857 16.4881Z"
                        fill="white" />
                    </svg>
                  </div>
                  <!-- content -->
                  <div>
                    <span class="block text-[10px] leading-2.5 text-white/50">Vallax Noti</span>
                    <span class="block text-sm leading-[14px] text-white mt-1">
                      Iphone 13 Pro 256GB – 380€ – Nuevo Precintado – Ahora
                    </span>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="bg-black/25 max-h-[80px] h-full w-full rounded-[25px] border border-white/15 backdrop-blur-xs mt-2.5">
                <div class="flex items-center gap-4 py-[18px] pl-4 pr-12">
                  <!-- icon -->
                  <div>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="15" cy="15" r="15" fill="#29A9EB" />
                      <path
                        d="M12.8857 16.4881L12.6376 19.9781C12.9926 19.9781 13.1464 19.8256 13.3307 19.6425L14.9951 18.0519L18.4439 20.5775C19.0764 20.93 19.522 20.7444 19.6926 19.9956L21.9564 9.38813L21.957 9.38751C22.1576 8.45251 21.6189 8.08688 21.0026 8.31626L7.69636 13.4106C6.78824 13.7631 6.80199 14.2694 7.54199 14.4988L10.9439 15.5569L18.8457 10.6125C19.2176 10.3663 19.5557 10.5025 19.2776 10.7488L12.8857 16.4881Z"
                        fill="white" />
                    </svg>
                  </div>
                  <!-- content -->
                  <div>
                    <span class="block text-[10px] leading-2.5 text-white/50">Vallax Noti</span>
                    <span class="block text-sm leading-[14px] text-white mt-1">
                      Zapatillas NIKE “Panda” – 60€ – Usadas  – Hace 5 H
                    </span>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="bg-black/25 max-h-[80px] h-full w-full rounded-[25px] border border-white/15 backdrop-blur-xs mt-2.5">
                <div class="flex items-center gap-4 py-[18px] pl-4 pr-12">
                  <!-- icon -->
                  <div>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="15" cy="15" r="15" fill="#29A9EB" />
                      <path
                        d="M12.8857 16.4881L12.6376 19.9781C12.9926 19.9781 13.1464 19.8256 13.3307 19.6425L14.9951 18.0519L18.4439 20.5775C19.0764 20.93 19.522 20.7444 19.6926 19.9956L21.9564 9.38813L21.957 9.38751C22.1576 8.45251 21.6189 8.08688 21.0026 8.31626L7.69636 13.4106C6.78824 13.7631 6.80199 14.2694 7.54199 14.4988L10.9439 15.5569L18.8457 10.6125C19.2176 10.3663 19.5557 10.5025 19.2776 10.7488L12.8857 16.4881Z"
                        fill="white" />
                    </svg>
                  </div>
                  <!-- content -->
                  <div>
                    <span class="block text-[10px] leading-2.5 text-white/50">Vallax Noti</span>
                    <span class="block text-sm leading-[14px] text-white mt-1">
                      Grand Theft Auto V (PS4) – 30€ – Como Nuevo – Ahora
                    </span>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="bg-black/25 max-h-[80px] h-full w-full rounded-[25px] border border-white/15 backdrop-blur-xs mt-2.5">
                <div class="flex items-center gap-4 py-[18px] pl-4 pr-12">
                  <!-- icon -->
                  <div>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="15" cy="15" r="15" fill="#29A9EB" />
                      <path
                        d="M12.8857 16.4881L12.6376 19.9781C12.9926 19.9781 13.1464 19.8256 13.3307 19.6425L14.9951 18.0519L18.4439 20.5775C19.0764 20.93 19.522 20.7444 19.6926 19.9956L21.9564 9.38813L21.957 9.38751C22.1576 8.45251 21.6189 8.08688 21.0026 8.31626L7.69636 13.4106C6.78824 13.7631 6.80199 14.2694 7.54199 14.4988L10.9439 15.5569L18.8457 10.6125C19.2176 10.3663 19.5557 10.5025 19.2776 10.7488L12.8857 16.4881Z"
                        fill="white" />
                    </svg>
                  </div>
                  <!-- content -->
                  <div>
                    <span class="block text-[10px] leading-2.5 text-white/50">Vallax Noti</span>
                    <span class="block text-sm leading-[14px] text-white mt-1">
                      Nintendo Switch – 120€ – Como Nueva – Hace 2 H
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- mask -->
          <div class="absolute w-full -bottom-[60px] left-0 2xl:hidden">
            <div class="w-full h-[240px] linear-bg-aux-1"></div>
            <div class="w-full h-[340px] bg-aux1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
