---

---

<!-- SECTION -2 -->
<div class="relative mt-[-220px] md:mt-[-160px] 2xl:mt-[120px] w-full">
  <div class="linear-bg-aux-2 border-y border-y-white/15 pt-12 pb-11">
    <div class="text-center">
      <h3
        class="text-sm leading-[14px] md:text-xl md:leading-5 font-medium text-white/50"
      >
        Plataformas Compatibles
      </h3>
    </div>
    <div class="flex justify-evenly mt-5 lg:mt-7">
      <a href="https://www.vinted.es/" target="_blank">
        <img
          src="/images/vinted.png"
          alt="vinted"
          class="h-10 md:h-20 xl:h-full max-h-[100px]"
        />
      </a>
      <a href="https://es.wallapop.com/" target="_blank">
        <img
          src="/images/wallapop.png"
          alt="wallapop"
          class="h-10 md:h-20 xl:h-full max-h-[100px]"
        />
      </a>
      <a href="https://www.milanuncios.com/" target="_blank">
        <img
          alt="milanuncios"
          src="/images/milanuncios.png"
          class="h-10 md:h-20 xl:h-full max-h-[100px]"
        />
      </a>
    </div>
  </div>
</div>
