---
---

<!-- SECTION -2 -->
<div class="relative mt-[-220px] md:mt-[-160px] 2xl:mt-[120px] w-full">
  <div class="linear-bg-aux-2 border-y border-y-white/15 pt-12 pb-11">
    <div class="text-center">
      <span class="text-sm leading-[14px] md:text-xl md:leading-5 font-medium text-white/50">Plataformas Compatibles</span>
    </div>
    <div class="flex justify-evenly mt-5 lg:mt-7">
      <img src="src/assets/images/aux1.png" class="h-10 md:h-20 xl:h-full max-h-[100px]">
      <img src="src/assets/images/aux2.png" class="h-10 md:h-20 xl:h-full max-h-[100px]">
      <img src="src/assets/images/aux3.png" class="h-10 md:h-20 xl:h-full max-h-[100px]">
    </div>
  </div>
</div>
