---

---

<!-- SECTION - 5 -->
<div id="howitworks"><!-- ANCHOR --></div>
<div class="mt-[160px] lg:mt-[228px]">
  <div class="contents 2xl:flex gap-6">
    <!-- [card 1] -->
    <div
      class="relative linear-bg-aux-5 max-w-[1032px] border border-white/15 pt-20 pb-10 pl-8 pr-10 flex-1 xl:max-h-[330px]"
    >
      <div class="lg:flex lg:flex-col justify-between lg:h-full">
        <div>
          <p class="block text-2xl leading-8 lg:text-[32px] lg:leading-10">
            Ingresa al Bot por Telegram e inicia el chat con Vallax.
          </p>
          <a
            href="https://play.google.com/store/apps/details?id=org.telegram.messenger&hl=en"
            target="_blank"
            class="block mt-5 lg:mt-7 text-[#29A9EB] text-base leading-4 cursor-pointer"
            >Descargar Telegram</a
          >
        </div>

        <!-- [cta] -->
        <div class="mt-8 flex justify-center md:justify-end">
          <a
            onclick="trackClick('vallax-sec5')"
            href="https://t.me/vallaxbot"
            target="_blank"
            class="btn btn-primary max-h-[80px] !w-fit px-[30px] py-[30px] group"
          >
            <span
              class="text-[#07D9C4] text-[32px] font-semibold leading-[20px]"
              >/</span
            >
            <span class="text-[#07D9C4] text-xl font-bold leading-[20px]"
              >Comenzar</span
            >

            <!-- [btn-borders] -->
            <div class="contents">
              <svg
                class="absolute -top-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M1 16V1H16" stroke="#07D9C4"></path>
              </svg>
              <svg
                class="absolute -top-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 1L15 1L15 16" stroke="#07D9C4"></path>
              </svg>
              <svg
                class="absolute -bottom-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M15 0L15 15L3.57628e-07 15" stroke="#07D9C4"></path>
              </svg>
              <svg
                class="absolute -bottom-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M16 15L1 15L0.999999 3.57628e-07" stroke="#07D9C4"
                ></path>
              </svg>
            </div>
          </a>
        </div>
      </div>

      <!-- [absolute] -->
      <div class="absolute top-0 left-8 -translate-y-1/2">
        <div class="flex items-center gap-1">
          <span
            class="text-primary text-[80px] leading-[80px] lg:text-[100px] lg:leading-[100px] font-bold"
            >//</span
          >
          <span
            class="text-white text-[40px] leading-[40px] lg:text-[60px] lg:leading-[60px] font-extrabold"
            >1er PASO</span
          >
        </div>
      </div>
    </div>

    <div class="hidden 2xl:block">
      <img
        src="/images/start.png"
        alt="start"
        class="min-w-[500px] min-h-[330px] max-h-[330px] max-w-[500px]"
      />
    </div>
  </div>

  <div class="contents lg:mt-[120px] lg:flex gap-6">
    <!-- [card 2] -->
    <div
      class="mt-[90px] lg:mt-0 relative linear-bg-aux-5 max-w-[1032px] border border-white/15 pt-20 pl-8 pr-10 pb-10 flex-1 xl:max-h-[330px]"
    >
      <div class="lg:flex lg:flex-col justify-between lg:h-full">
        <div>
          <p class="block text-2xl leading-8 lg:text-[32px] lg:leading-10">
            Utiliza el menú inferior para acceder a la aplicación.
          </p>
        </div>
      </div>

      <!-- [absolute] -->
      <div class="absolute top-0 left-8 -translate-y-1/2">
        <div class="flex items-center gap-1">
          <span
            class="text-primary text-[80px] leading-[80px] lg:text-[100px] lg:leading-[100px] font-bold"
            >//</span
          >
          <span
            class="text-white text-[40px] leading-[40px] lg:text-[60px] lg:leading-[60px] font-extrabold"
            >2do PASO</span
          >
        </div>
      </div>
    </div>

    <div class="hidden 2xl:block">
      <img
        src="/images/open-app.png"
        alt="open-app-image"
        class="min-w-[500px] min-h-[330px] max-h-[330px] max-w-[500px]"
      />
    </div>
  </div>
</div>
