---
---

<!-- SECTION - 6 [pricing] -->
<div id="pricing"><!-- ANCHOR --></div>
<div class="mt-[124px] lg:mt-[200px] xl:mt-[245px]">
  <div class="text-center mb-12 lg:mb-[100px]">
    <h4 class="block font-bold text-[40px] leading-10">Planes Vallax</h4>
    <p class="block mt-5 px-6 text-xl leading-8 lg:text-2xl lg:leading-6">Elige el plan que mejor se adapta a tus necesidades y accede a alertas diseñadas para tí.</p>
  </div>

  <div class="flex flex-wrap justify-center lg:flex-nowrap gap-10 lg:h-[600px]">
    <div class="contents lg:grid grid-cols-3 gap-7">
      <!-- [basic plan] -->
      <div class="grow lg:col-span-1 linear-bg-aux-6 max-w-[420px] xl:max-w-[400px] border border-white/25 p-8 pt-9 xl:p-10">
        <div class="flex flex-col justify-between h-full">
          <div>
            <div class="text-[32px] leading-8 flex justify-between items-center">
              <p class="block font-extralight lg:text-[60px] lg:leading-[55px]">Plan <br class="hidden xl:inline"> Básico</p>
              <span class="block lg:hidden font-medium">0€</span>
            </div>
            <div class="mt-2.5">
              <p class="text-white/50 text-2xl leading-6">Gratuito</p>
            </div>
          </div>

          <div class="text-base leading-6 grow lg:pt-8">
            <div class="flex gap-2 mt-6 lg:mt-0">
              <div class="mt-1.5">
                <span>
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75">
                      <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                      <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                    </g>
                  </svg>
                </span>
              </div>
              <div class="max-w-[285px]">
                <p>Hasta 3 alertas creadas.</p>
              </div>
            </div>
            <!--  -->
            <div class="flex gap-2 mt-3">
              <div class="mt-1.5">
                <span>
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75">
                      <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                      <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                    </g>
                  </svg>
                </span>
              </div>
              <div class="max-w-[285px]">
                <p>Una alerta y una plataforma activo al mismo tiempo.</p>
              </div>
            </div>
            <!--  -->
            <div class="flex gap-2 mt-3">
              <div class="mt-1.5">
                <span>
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75">
                      <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                      <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                    </g>
                  </svg>
                </span>
              </div>
              <div class="max-w-[285px]">
                <p>Máximo de 6 palabras claves.</p>
              </div>
            </div>
          </div>

          <div>
            <span class="hidden lg:block font-medium text-[50px] leading-[50px]">0€</span>
            <!-- [cta] -->
            <div class="mt-6 flex justify-center">
              <a onclick="trackClick('vallax-sec6')" href="https://t.me/vallaxbot" target="_blank" class="btn btn-secondary max-h-[60px] py-5 group">
                <span class="text-white text-shadow-aux-4 text-[32px] font-semibold leading-[20px]">/</span>
                <span class="text-white text-shadow-aux-4 text-xl font-bold leading-[20px]">Comenzar</span>

                <!-- [btn-borders] -->
                <div class="contents">
                  <svg class="absolute -top-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 16V1H16" stroke="#FFFFFF" />
                  </svg>
                  <svg class="absolute -top-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1L15 1L15 16" stroke="#FFFFFF" />
                  </svg>
                  <svg class="absolute -bottom-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 0L15 15L3.57628e-07 15" stroke="#FFFFFF" />
                  </svg>
                  <svg class="absolute -bottom-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 15L1 15L0.999999 3.57628e-07" stroke="#FFFFFF" />
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- [pro plan] -->
      <div class="grow lg:col-span-1 max-w-[420px] xl:max-w-[400px] lg:relative lg:top-[-60px]">
        <div class="flex justify-center">
          <div class="btn btn-primary max-h-[50px] py-4 pointer-events-none">
            <span class="text-white text-xl font-bold leading-5 uppercase">Más popular</span>

            <!-- [btn-borders] -->
            <div class="contents">
              <svg class="absolute -top-px -left-px" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 16V1H16" stroke="#07D9C4" />
              </svg>
              <svg class="absolute -top-px -right-px" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1L15 1L15 16" stroke="#07D9C4" />
              </svg>
              <svg class="absolute -bottom-px -right-px" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 0L15 15L3.57628e-07 15" stroke="#07D9C4" />
              </svg>
              <svg class="absolute -bottom-px -left-px" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 15L1 15L0.999999 3.57628e-07" stroke="#07D9C4" />
              </svg>
            </div>
          </div>
        </div>

        <div class="mt-2.5 linear-bg-aux-7 border border-white/25 px-8 py-9 xl:p-10 lg:h-full">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="text-[32px] leading-8 flex justify-between items-center">
                <p class="block font-extralight lg:text-[60px] lg:leading-[55px]">
                  Plan <span class="text-primary inline lg:block">Pro</span>
                </p>
                <span class="block lg:hidden font-medium">5€</span>
              </div>
              <div class="mt-2.5">
                <p class="text-white/50 text-2xl leading-6">Mensual</p>
              </div>
            </div>

            <div class="text-base leading-6 grow lg:pt-8">
              <div class="flex gap-2 mt-6 lg:mt-0">
                <div class="mt-1.5">
                  <span>
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.75">
                        <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                        <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                      </g>
                    </svg>
                  </span>
                </div>
                <div class="max-w-[285px]">
                  <p>Todo lo del Plan Básico.</p>
                </div>
              </div>
              <!--  -->
              <div class="flex gap-2 mt-3">
                <div class="mt-1.5">
                  <span>
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.75">
                        <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                        <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                      </g>
                    </svg>
                  </span>
                </div>
                <div class="max-w-[285px]">
                  <p>Todas las plataformas disponibles.</p>
                </div>
              </div>
              <!--  -->
              <div class="flex gap-2 mt-3">
                <div class="mt-1.5">
                  <span>
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.75">
                        <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                        <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                      </g>
                    </svg>
                  </span>
                </div>
                <div class="max-w-[285px]">
                  <p>10 palabras clave por alerta.</p>
                </div>
              </div>
            </div>

            <div>
              <span class="hidden lg:block font-medium text-[50px] leading-[50px]">5€</span>
              <!-- [cta] -->
              <div class="mt-6 flex justify-center">
                <button class="btn btn-primary max-h-[60px] py-5 group">
                  <span class="text-[#07D9C4] text-[32px] font-semibold leading-[20px]">/</span>
                  <span class="text-[#07D9C4] text-xl font-bold leading-[20px]">Adquirir Plan</span>

                  <!-- [btn-borders] -->
                  <div class="contents">
                    <svg class="absolute -top-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 16V1H16" stroke="#07D9C4" />
                    </svg>
                    <svg class="absolute -top-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 1L15 1L15 16" stroke="#07D9C4" />
                    </svg>
                    <svg class="absolute -bottom-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 0L15 15L3.57628e-07 15" stroke="#07D9C4" />
                    </svg>
                    <svg class="absolute -bottom-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16 15L1 15L0.999999 3.57628e-07" stroke="#07D9C4" />
                    </svg>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- [premium plan] -->
      <div class="grow lg:col-span-1 linear-bg-aux-6 max-w-[420px] xl:max-w-[400px] border border-white/25 px-8 py-9 xl:p-10">
        <div class="flex flex-col justify-between h-full">
          <div>
            <div class="text-[32px] leading-8 flex justify-between items-center">
              <p class="block font-extralight lg:text-[60px] lg:leading-[55px]">
                Plan <span class="text-secondary inline xl:block">Premium</span>
              </p>
              <span class="block lg:hidden font-medium">12€</span>
            </div>
            <div class="mt-2.5">
              <p class="text-white/50 text-2xl leading-6">Mensual</p>
            </div>
          </div>
          
          <div class="text-base leading-6 grow lg:pt-8">
            <div class="flex gap-2 mt-6 lg:mt-0">
              <div class="mt-1.5">
                <span>
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75">
                      <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                      <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                    </g>
                  </svg>
                </span>
              </div>
              <div class="max-w-[285px]">
                <p>Todo lo del Plan Pro.</p>
              </div>
            </div>
            <!--  -->
            <div class="flex gap-2 mt-3">
              <div class="mt-1.5">
                <span>
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75">
                      <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                      <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                    </g>
                  </svg>
                </span>
              </div>
              <div class="max-w-[285px]">
                <p>Hasta 10 alertas creadas.</p>
              </div>
            </div>
            <!--  -->
            <div class="flex gap-2 mt-3">
              <div class="mt-1.5">
                <span>
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75">
                      <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                      <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                    </g>
                  </svg>
                </span>
              </div>
              <div class="max-w-[285px]">
                <p>Seis alertas activas al mismo tiempo.</p>
              </div>
            </div>
            <!--  -->
            <div class="flex gap-2 mt-3">
              <div class="mt-1.5">
                <span>
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75">
                      <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                      <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                    </g>
                  </svg>
                </span>
              </div>
              <div class="max-w-[285px]">
                <p>Todas las plataformas disponibles.</p>
              </div>
            </div>
            <!--  -->
            <div class="flex gap-2 mt-3">
              <div class="mt-1.5">
                <span>
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75">
                      <path d="M0 7.07129H14.1421" stroke="white" stroke-width="2" />
                      <path d="M7.07104 14.1426L7.07104 0.000442238" stroke="white" stroke-width="2" />
                    </g>
                  </svg>
                </span>
              </div>
              <div class="max-w-[285px]">
                <p>Creación de alertas por IA.</p>
              </div>
            </div>
          </div>

          <div>
            <span class="hidden lg:block font-medium text-[50px] leading-[50px]">12€</span>
            <!-- [cta] -->
            <div class="mt-6 flex justify-center">
              <button class="btn btn-premium max-h-[60px] py-5 group">
                <span class="text-secondary text-[32px] font-semibold leading-[20px]">/</span>
                <span class="text-secondary text-xl font-bold leading-[20px]">Adquirir Plan</span>

                <!-- [btn-borders] -->
                <div class="contents">
                  <svg class="absolute -top-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 16V1H16" stroke="#E0E938" />
                  </svg>
                  <svg class="absolute -top-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1L15 1L15 16" stroke="#E0E938" />
                  </svg>
                  <svg class="absolute -bottom-px -right-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 0L15 15L3.57628e-07 15" stroke="#E0E938" />
                  </svg>
                  <svg class="absolute -bottom-px -left-px opacity-50 transition-opacity duration-150 group-hover:opacity-100" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 15L1 15L0.999999 3.57628e-07" stroke="#E0E938" />
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
