---
import "../styles/global.css";
import GlobalStyles from "../components/GlobalStyles.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <GlobalStyles />

        <!-- Google Analytics -->
        <script
            async
            src={`https://www.googletagmanager.com/gtag/js?id=G-WX5P2BJWH5`}
        ></script>
        <script>
            {
                `
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-WX5P2BJWH5');
        `;
            }
        </script>
    </head>
    <body class="antialiased">
        <slot />
    </body>
</html>
