---
import "/src/assets/css/styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Charset & Viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      Alertas Personalizadas para Productos en Wallapop ,Vinted y Milanuncios
    </title>
    <meta
      name="description"
      content="Crea alertas personalizadas para Wallapop , Vinted y Milanuncios, recibe notificaciones al instante en Telegram.
      Obtén las mejores Gangas gracias a Vallax"
    />

    <meta name="robots" content="index,follow,max-image-preview:large" />
    <meta name="googlebot" content="index,follow" />

    <!-- Favicons & PWA -->
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="theme-color" content="#07D9C4" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />

    <link rel="alternate" href="https://vallax.es/" hreflang="x-default" />
  </head>
  <body>
    <slot />
    <script src="/main.js" defer></script>
  </body>
</html>
